body {
    background: whitesmoke;
    padding: 64px 0px 0px 0px;
    z-index: 0;
}
@media screen and (max-width: 576px) {
    body {
        padding: 16px 0px 0px 0px;
    }
}

a {
    color: #059 !important;
}
p {
  color: rgba(0, 85, 153,.5);
}
.home-contact {
    padding-bottom: 36px; 
    text-align: center;
    font-size: 48px;
}
.home-contact-item {
    padding-bottom: 36px;
}
@media screen and (max-width: 768px) {
    .home-contact {
        font-size: 24px
    }
}
@media screen and (max-width: 576px) {
    .home-contact {
        font-size: 16px;
    }
}
.navbar {
    background: rgba(0, 0, 0, 0) !important;
}
.fa-bars {
    font-size: 48px;
    cursor: pointer;
    color: rgb(0, 85, 153);
}
.navbar-brand {
    font-size: 48px;
}
@media screen and (max-width: 768px) {
    .navbar-brand {
        font-size: 32px;
    }
}
@media screen and (max-width: 576px) {
    .navbar-brand {
        font-size: 24px
    }
}
@media screen and (max-width: 768px) {
    .fa-bars {
        font-size: 32px;
    }
}
@media screen and (max-width: 576px) {
    .fa-bars {
        font-size: 24px
    }
}
.modal {
    font-size: 48px;
}
@media screen and (max-width: 576px) {
    .modal {
        font-size: 32px
    }
}
.modal-header {
    background: whitesmoke;
    padding-right: 16px;
    padding-top: 0;
    border: 0;
}
.modal-body {
    background: whitesmoke;
    border: 0;
}
.modal a {
    cursor: pointer;
}
.modal a:hover {
    color: rgba(0, 85, 153,.5) !important;
}
.nav-link:hover {
    color: rgba(0, 85, 153,.5) !important;
}
.carousel {
    margin-top: 48px;
    margin-bottom: 48px;
}
.carousel .carousel-indicators li {
    background-color: #fff;
    background-color: rgba(0, 85, 153, 0.502);
}
.carousel .carousel-indicators .active {
background-color: rgb(0, 85, 153);
}
.carousel-control-prev-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23059' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23059' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.footer {
    background-color: rgba(0, 85, 153, .5);
    margin: 0px auto;
    padding: 64px 0px;
}
footer ul li a {
    color: whitesmoke !important;
}
.footer-head {
    color: whitesmoke !important;
}